/* Grid */
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.col-1-2, .col-2-2,
.col-1-3, .col-2-3, .col-3-3,
.col-1-4, .col-2-4, .col-3-4, .col-4-4 {
    margin-right: -100%;
    float: left;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.col-1-2, .col-2-2 {width: 50%;}
.col-1-3, .col-2-3 {width: 33%;}
.col-3-3 {width: 34%;}
.col-1-4, .col-2-4, .col-3-4, .col-4-4 {width: 25%}

.col-1-2, .col-1-3, .col-1-4 {margin-left: 0%;}
.col-2-2, .col-3-4 {margin-left: 50%;}
.col-2-3 {margin-left: 33%;}
.col-3-3 {margin-left: 66%;}
.col-2-4 {margin-left: 25%;}
.col-4-4 {margin-left: 75%;}

/* Global Settings */
body {
    font-family: Verdana, "Droid Sans", Arial, Helvetica;
    color: #ccc;
    background-color: #333;
}
#dokuwiki__site {
    padding: 0.5em;
}
a:link, a:visited {
    text-decoration: none;
    color: #1793d1;
}
a:hover, a:active {
    text-decoration: none;
    color: #fff;
}
a:link:hover, a:visited:hover, a:link:focus, a:visited:focus, a:link:active, a:visited:active {
    text-decoration: none;
    color: #fff;
}
blockquote {
    margin: .5em .5em .5em 2em;
    padding-left: 1em;
    border-left: solid 2px #1793d1;
}
img {
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-family: Verdana, "Droid Sans", Arial, Helvetica;
}
section {
    padding: 0 1em 0 1em;
}

/* Site Header */
header.main, footer.main {
    background: #2a2a2a;
    padding: .1em .5em .1em .5em;
}
nav.main {
    text-align: right;
    padding: 2em 1em .5em 1em;
}
nav.main ul, li {
    padding-left: .5em;
    margin-left: .5em;
}
nav.main li {
    list-style: none;
    display: inline;
}
#currentpage a {
    color: #fff;
}
header.main img {
    float: left;
    margin-top: .5em
}

/* Dokuwiki admin links */
.dokuwiki a.wikilink1, 
#dokuwiki__usertools a.wikilink1, 
#dokuwiki__pagetools a.wikilink1, 
#dokuwiki__header h1 a, 
#dokuwiki__pagetools a.wikilink2 {
    text-decoration: none;
    color: #1793d1;
}

.dokuwiki a.wikilink1:hover, 
#dokuwiki__usertools a.wikilink1:hover,
#dokuwiki__pagetools a.wikilink1:hover,
#dokuwiki__pagetools a.wikilink2:focus {
    text-decoration: none;
    color: #fff;
}

/* Buttons */
.dokuwiki input.button, .dokuwiki button.button {
    background-color: #222;
    border: 4px solid #222;
    font-size: 0.8em;
}
select.quickselect {
    background-color: #2a2a2a;
    border: 1px dotted #ccc;
}

/* Text Areas */
.dokuwiki textarea#wiki__text.edit {
    background: #111;
    border: 3px solid #111;
}
textarea:focus {
    box-shadow: 0px 0px 6px rgb(0, 0, 0);
}
input:focus {
    box-shadow: none;
    background: #111;
}

/* User toolbar (logged in as, user page, profile) */
#dokuwiki__usertools {
    position: relative;
    background-color: #333;
    border-bottom: none;
}

/* Search Bar */
.dokuwiki input#qsearch__in.edit {
    background-color: #2a2a2a;
    border: 1px solid #222;
    width: 6em;
    margin-left:1em;
}
#dokuwiki__header form.search #qsearch__in {
    width: 8em;
}
#dokuwiki__header form.search {
    margin: 4.8em 0em 0em;
    position: absolute;
    left: 191px;
}

/* Page editing toolbar */
#dokuwiki__pagetools {
    position: relative;
    max-width: 1140px;
    margin-top: 2em;
}

/* last modified information */
#dokuwiki__footer .doc {
    float: none;
    text-align:right;
    margin-bottom: 1em;
    margin-top: -2em;
}

/* Wiki formating */
#dokuwiki__site {
    padding: none;
    max-width: 100%;
}
#dokuwiki__site .wrapper {
    max-width: 1140px;
    margin: 0 auto;
}
#dokuwiki__header div.breadcrumbs {
    text-align: center;
    margin-bottom: .8em;
}

/* Sidebar */
#dokuwiki__aside {
    width: 200px;
    background-color: #2a2a2a;
    margin-top: 1em;
}
#dokuwiki__aside ul {
    list-style: none;
}
#dokuwiki__aside img {
    text-align: center;
    margin-bottom: 1em;
}
#dokuwiki__aside hr {
    margin-left: 1em;
}
#dokuwiki__aside h4 {
    text-align:center;
    padding-top: 1em;
}

/* Extention Rating */
div.popularity {
    background-color: #444;
    border: 1px solid #444;
}

/* Page footer */
div.doc {
    text-align: right;
    margin-bottom: 2em;
}

/* Footer */
.icon {
    vertical-align: middle;
}

/* Change Format on Small Screens */
@media only screen and (max-width: 740px) {
    .col-1-2, .col-2-2,
    .col-1-3, .col-2-3, .col-3-3,
    .col-1-4, .col-2-4, .col-3-4, .col-4-4 {
                width: 100%; margin:0;
    }
}
