/* Grid */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class*='col-'] {
    float: left;
    padding: .5em 2em .5em 2em;
}

[class*='col-']:last-of-type {
    padding-right: 0px;
}

.grid {
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
    overflow: hidden;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.grid-pad {
    padding: .5em 0 0px 1em;
}

.grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
}

.push-right {
    float: right;
}

/* Content Columns */

.col-1-1            {width: 100%;}
.col-2-3, .col-8-12 {width: 66.66%;}
.col-1-2, .col-6-12 {width: 50%;}
.col-1-3, .col-4-12 {width: 33.33%;}
.col-1-4, .col-3-12 {width: 25%;}
.col-1-5            {width: 20%;}
.col-1-6, .col-2-12 {width: 16.667%;}
.col-1-7            {width: 14.28%;}
.col-1-8            {width: 12.5%;}
.col-1-9            {width: 11.1%;}
.col-1-10           {width: 10%;}
.col-1-11           {width: 9.09%;}
.col-1-12           {width: 8.33%}

/* Layout Columns */

.col-11-12 {width: 91.66%}
.col-10-12 {width: 83.333%;}
.col-9-12  {width: 75%;}
.col-5-12 {width: 41.66%;}
.col-7-12 {width: 58.33%}

/* Global Settings */

body {
	font-family: Verdana, "Droid Sans", Arial, Helvetica;
	color: #ccc;
	background-color: #333;
}

#dokuwiki__site {
    padding: 0.5em;
}

a:link, a:visited {
    text-decoration: none;
    color: #1793d1;
}

a:hover, a:active {
	text-decoration: none;
	color: #fff;
}

a:link:hover, a:visited:hover, a:link:focus, a:visited:focus, a:link:active, a:visited:active {
	text-decoration: none;
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-family: Verdana, "Droid Sans", Arial, Helvetica;
}

/* Site Header */

header.main {
    background: #2a2a2a;
    padding: .1em;
}
nav.main {
    text-align: right;
    padding: 2em 1em .5em 1em;
}
nav.main ul, li {
    padding-left: .5em;
    margin-left: .5em;
}
nav.main li {
    list-style: none;
    display: inline;
}
header.main img {
    float: left;
    margin-top: .5em
}

/* Dokuwiki admin links */

.dokuwiki a.wikilink1, 
#dokuwiki__usertools a.wikilink1, 
#dokuwiki__pagetools a.wikilink1, 
#dokuwiki__header h1 a, 
#dokuwiki__pagetools a.wikilink2 {
	text-decoration: none;
	color: #1793d1;
}

.dokuwiki a.wikilink1:hover, 
#dokuwiki__usertools a.wikilink1:hover,
#dokuwiki__pagetools a.wikilink1:hover,
#dokuwiki__pagetools a.wikilink2:focus {
	text-decoration: none;
	color: #fff;
}

/* Buttons */

.dokuwiki input.button, .dokuwiki button.button {
	background-color: #2a2a2a;
	border: 4px solid #2a2a2a;
	border-radius: 10px;
}

select.quickselect {
	background-color: #2a2a2a;
	border: 1px dotted #ccc;
}

/* Text Areas */

.dokuwiki textarea#wiki__text.edit {
	background: #111;
	border: 3px solid #111;
}

textarea:focus {
	box-shadow: 0px 0px 6px rgb(0, 0, 0);
}

input:focus {
	box-shadow: none;
    background: #111;
}

/* User toolbar (logged in as, user page, profile) */

#dokuwiki__usertools {
	position: relative;
}

/* Search Bar */
.dokuwiki input#qsearch__in.edit {
    background-color: #2a2a2a;
    border: 1px solid #222;
    border-radius: 10px;
}

/* Page editing toolbar */

#dokuwiki__pagetools {
	position: relative;
	max-width: 1140px;
	margin-top: 2em;
}

/* last modified information */
#dokuwiki__footer .doc {
	float: none;
	text-align:right;
	margin-bottom: 1em;
	margin-top: -2em;
}

/* Wiki formating */

#dokuwiki__site {
	padding: none;
	max-width: 100%;
}

#dokuwiki__site .wrapper {
	max-width: 1140px;
	margin: 0 auto;
}

#dokuwiki__header div.breadcrumbs {
	text-align: center;
	margin-bottom: .8em;
}

/* Sidebar */

#dokuwiki__aside {
	width: 200px;
	background-color: #2a2a2a;
}

#dokuwiki__aside ul,li {
	list-style: none;
}

#dokuwiki__aside img {
	text-align: center;
}

/* Page footer */

div.doc {
    text-align: right;
    margin-bottom: 2em;
}

/* Footer */

footer.main {
    background: #2a2a2a;
}
.icon {
    vertical-align: middle;
}

